.rooms-root{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}

.room-data-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 50px;
    background-color: #ece7e749;
}

.room-slides-container{
    position: relative;
    width: 350px;
    height: 250px;
    overflow: hidden;
}

.room-slides-container img{
    width: 100%;
    transition: transform 0.3s ease-in-out;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
}

.btns-container{
    width: 90%;
    height: 90%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid #0c0c0c3e;
    border-top: none;
    margin-left: 10px;
    z-index: 2;
}

.slide-btn{
    background-color: #c88b40d2;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    bottom: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.slide-btn:hover{
    background-color: #c57411;
}

.room-text-data{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.decor{
    position: absolute; 
    width: 90%;
    height: 35px;
    border: 0.5px solid rgba(0, 0, 0, 0.374);
    border-top: none;
    top: 105%;
    right: 5%;
}

.beds-number{
    font-size: 20px;
    color: #7b7878;
    margin: 5px;
}

.price{
    font-size: 20px;
    color: #cc7d1d;
    margin: 5px;
}

.details-btn{
    width: 120px;
    height: 40px; 
    margin: 10px 0 10px 0; 
    background-color: #878181;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 #928e8e;
    margin-left: 5px;
}

.details-btn:hover{
    background-color: white;
    box-shadow:0 0 0 1px #928e8e;
    color: #928e8e;
}

.room-title{
    font-weight: normal;
}